.my-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: var(--rust);
  color: var(--off-white);
  border: 2px solid #333333;
  border-radius: 20px;
  cursor: pointer;
}

.my-button:hover {
  background-color: #333333;
  color: #ffffff;
}
